
*:not(img) {
    background-color: black;
    color: white;
    font-family: monospace, sans-serif;
    width: 640px;
    position: relative;
    left: auto;
} 
.img {
    text-align: center;
}

h1, .recipe-link {
    font-family: monospace, 'Courier New', Courier;
    text-align: center;
}



